.hidden{
	display: none;
}
.ftim{
	font-size: 1.2em;
	color: rgb(0,83,124) !important;
	border: 1px solid rgb(0,83,124);
	border-radius: 10px;
	margin:1% !important;
	background-color: rgb(239,239,239);
	width: 98%;
	height: auto;
}
.ftim select{
	height: 35px;
}
.tbhs{
	font-size: 1em;
	color: rgb(0,83,124) !important;
	border: 1px solid rgb(0,83,124);
	border-radius: 10px !important;
	margin:1% !important;
	width: 98%;
}
#resultc12{
	font-size: 1em;
	color: rgb(0,83,124) !important;
	border: 1px solid rgb(0,83,124);
	border-radius: 10px;
	margin:1% !important;
	background-color: rgb(239,239,239);
	width: 98%;
}
#resultthc12{
	font-size: 1em;
	color: rgb(0,83,124) !important;
	border: 1px solid rgb(0,83,124);
	border-radius: 10px;
	margin:1% !important;
	background-color: rgb(239,239,239);
	width: 98%;
}
.qldv{
	font-size: 1em;
	color: rgb(0,83,124) !important;
	border: 1px solid rgb(0,83,124);
	border-radius: 10px;
	margin:1% !important;
}
footer{
	position: fixed;
	bottom: 0px;
	background-color: rgb(238,238,238) !important;
	width: 100%;
	margin:0 !important;
	color: rgb(102,123,172);
}
.ttr{
	background-color: rgb(20,125,193) !important;
	color: white;
}
.kqt{
	font-size: 1.4em;
	color: #ff4000;
	border: 1px solid #ff4000;
	border-radius: 10px;
	margin:1% !important;
	padding-left: 10px;
	font-style: italic;
	width: 98%;
}
.flogin{
	border: 1px solid rgb(0,83,124) !important;
	border-radius: 10px;
	margin-top:10px;
	padding: 0;
	box-shadow: 5px 5px rgb(102,123,172);
}
#tieude{
	background-color: rgb(0, 191, 255) !important;
	color: white;
	font-weight: bold;
	border-radius: 10px 10px 0px 0px;
	font-size: 1.2em;
}